@import '../../styles/variables';

.menu {
    grid-column: 1 / -1;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    &__container {
        height: 80vh;
        width: 70vw;

        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border: $borderTest;
    }

    &__title {}

    &__list {}

    &__listItem {
        list-style: none;
        cursor: pointer;
    }

    &__picContainer {
        height: 16rem;
        width: 16rem;
    }

    &__picture {
        display: block;
        height: 100%;
        width: 100%;
    }

    &__gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 3rem;
        // border: $borderTest;
    }

    &__item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &__itemDescription {
        grid-column: 2 / span 1;
    }

    &__picContainer {
        grid-column: 1 / span 1;
    }

    &__arrow {
        height: 1.5rem;
        width: 1.5rem;
        cursor: pointer;
    }
}