@import '../../styles/variables';


.reserveAd {
    grid-column: 1 / -1;

    height: 80vh;

    display: grid;
    grid-template-columns: $full-grid-column-template;
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: $full-grid-column-gap-template;

    @media only screen and (max-width: $bp-xl) {
        padding: 0 5rem;
    }

    @media only screen and (max-width: $bp-phone-2) {
        height: 100vh;
    }

    &__reserve {
        grid-column: 3 / span 4;
        grid-row: 3 / span 4;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media only screen and (max-width: $bp-xl) {
            grid-column: 1 / span 5;
        }

        button {
            background-color: white;
            padding: 1rem 3rem;
            border: 2px solid black;
            outline-style: none;
            cursor: pointer;

            @media only screen and (max-width: $bp-phone-2) {
                margin: 3rem 0rem;
            }
        }


        h1 {
            font-size: 5.5rem;
            font-weight: 100;
            letter-spacing: .5rem;
            margin-right: 1rem;

            @media only screen and (max-width: $bp-xl) {
                font-size: 3.5rem;
            }
        }
    }

    &__title {
        font-size: 5.7rem;
        font-weight: 100;

        @media only screen and (max-width: $bp-xl) {
            font-size: 4rem;
        }
    }

    &__img {
        grid-column: 7 / span 5;
        grid-row: 3 / span 4;

        height: 100%;
        width: 100%;

        @media only screen and (max-width: $bp-phone-1) {
            width: 150%;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__days,
    &__address {
        font-size: 1.6rem;
        font-weight: 300;
        margin-top: 2rem;
    }

    &__days {
        grid-column: 3 / span 6;
        grid-row: 7 / span 1;

        @media only screen and (max-width: $bp-xl) {
            grid-column: 1 / span 6;
        }
    }

    &__address {
        grid-column: 7 / span 4;
        grid-row: 7 / span 1;
    }
}