@import '../../styles/variables';

.advantages {
    grid-column: 1 / -1;

    height: 90vh;

    display: grid;
    grid-template-columns: $full-grid-column-template;
    // grid-column-gap: $full-grid-column-gap-template;
    grid-template-rows: repeat(2, 1fr);


    &__wordBlock {
        background-color: $primary-color-black;
        color: $primary-color-grey;

        p {
            font-size: 1.4rem;
        }

        &--one,
        &--three {
            padding: 5rem 2.5rem 3rem 2.5rem;
            line-height: 2rem;
        }

        &--one {
            grid-column: 1/ span 4;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;

            p {
                width: 45%;
            }
        }

        &--two {
            grid-column: 5 / span 4;
            grid-row: 2 / span 1;

            color: white;

            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3.5rem;
            font-family: $primary-font;
        }

        &--three {
            grid-column: 9 / span 4;

            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }

    &__grayArrow {
        height: .8rem;
        width: .8rem;

        svg {
            color: $primary-color-grey;
        }

        &--one {
            margin-left: 2rem;
        }

        &--two {
            transform: rotate(90deg);
        }
    }

    &__imgBlock {
        display: inline-block;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &--one {
            grid-column: 1/ span 4;
            grid-row: 2 / span 1;
        }

        &--two {
            grid-row: 1 / span 1;
            grid-column: 5 / span 4;
        }

        &--three {
            grid-column: 9 / span 4;
            grid-row: 2 / span 1;
        }
    }

}