@font-face {
    font-family: 'MADE SAONARA';
    src: url('./fonts/MADESAONARA.woff2') format('woff2'),
        url('./fonts/MADESAONARA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    // font-display: swap;
}

@font-face {
    font-family: 'future_pt_light';
    src: url('./fonts/FuturaPTLight.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'future_pt_book';
    src: url('./fonts/FuturaPTBook.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'future_pt_medium';
    src: url('./fonts/FuturaPTMedium.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

// -----------------------
//GRID TEMPLATE VARIABLES
// -----------------------
$full-grid-column-template: repeat(12, 1fr);
$full-grid-column-template-2: repeat(10, 1fr);
$full-grid-column-gap-template: 20px;

// FONT VARIABLES
$primary-font: 'MADE SAONARA',
'future_pt_light',
sans-serif;

$secondary-font: 'future_pt_light',
'future_pt_book',
sans-serif;

$tertiary-font: 'future_pt_medium',
'future_pt_book',
sans-serif;

// COLOR VARIABLES 
$primary-color-blue: #73ADCE;
$primary-color-black: #1D2123;
$primary-color-middleRed: #DC7F62;
$primary-color-darkBlue: #0A3376;
$primary-color-beige: #EBEBD3;
$primary-color-grey: #c9c8c8;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;


$borderTest: 1px solid red;

// -----------------------
// MEDIA QUERY BREAKPOINTS (x / 16 = bp) 
// -----------------------
$bp-xxl: 104.2rem; //1667px
$bp-xl: 71.31rem // 1141px