@import '../../styles/variables.scss';


.cookingAd {
    grid-column: 1/ -1;

    height: 50vh;
    background-color: $primary-color-black;
    // background-color: black;
    color: $primary-color-beige;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;


    &__title {
        grid-column: 2 / span 1;
        font-family: $primary-font;
        font-size: 7.5rem;
        font-weight: 100;
    }

    &__description {
        grid-column: 3 / span 1;
        font-size: 1.6rem;
    }

    &__picture {
        grid-column: 4 / span 2;
        height: 100%;
        width: 100%;
        object-fit: cover;

        display: flex;
        justify-content: center
    }

    &__img {
        width: 85%;
        height: 100%;
        border-radius: 15px;

        background-image: linear-gradient(to right bottom,
                rgba($primary-color-black, 0.5),
                rgba($primary-color-black, 0.5)),
            url('../../media/imgs/cookingLesson.jpg');
        background-size: cover;
        background-position: top;
        box-shadow: 0 0 8px 8px $primary-color-black inset;
        background-color: $primary-color-black;
    }

}