@import '../../styles/variables.scss';


.cookingAd {
    grid-column: 1/ -1;

    height: 50vh;
    background-color: black;
    color: white;

    display: grid;
    grid-template-columns: $full-grid-column-template;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-xl) {
        height: 60vh;
        padding: 0;
        background-image: linear-gradient(to right bottom,
                rgba(black, 0.7),
                rgba(black, 0.7)),
            url('../../media/imgs/cookingLesson.jpg');
        background-position: bottom;
        padding: 0 5rem;
    }

    @media only screen and (max-width: $bp-large-mobile-portrait) and (orientation: landscape) {
        height: 100vh;
    }

    &__title {
        grid-column: 3 / span 2;
        font-family: $primary-font;
        font-size: 7.5rem;
        font-weight: 100;
        margin-right: 3rem;

        @media only screen and (max-width: $bp-xxl) {
            grid-column: 2 / span 2;
        }

        @media only screen and (max-width: $bp-xl) {
            grid-column: 1 / -1;
            text-align: center;
            margin-left: 0;
            margin-right: 0;
        }
    }

    &__description {
        grid-column: 5 / span 3;
        font-size: 1.7rem;
        padding-left: 8rem;
        min-width: 30rem;

        @media only screen and (max-width: $bp-xxl) {
            grid-column: 4 / span 4;
            margin-left: 4rem;
        }

        @media only screen and (max-width: $bp-xl) {
            grid-column: 1 / -1;
            text-align: center;
            margin-left: 0;
            padding-left: 0;
        }
    }

    &__picture {
        grid-column: 8 / span 5;
        height: 100%;
        width: 100%;
        object-fit: cover;

        display: flex;
        justify-content: center;

        @media only screen and (max-width: $bp-xl) {
            grid-column: 8 / span 6;
        }

        @media only screen and (max-width: $bp-xl) {
            display: none;
        }

    }

    &__img {
        width: 85%;
        height: 100%;
        border-radius: 15px;

        background-image: linear-gradient(to right bottom,
                rgba(black, 0.5),
                rgba(black, 0.5)),
            url('../../media/imgs/cookingLesson.jpg');
        background-size: cover;
        background-position: top;
        box-shadow: 0 0 8px 8px black inset;
        background-color: black;
    }

}