@import '../../styles/variables.scss';


.cookingAd {
    grid-column: 1/ -1;

    height: 50vh;
    background-color: $primary-color-black;
    // background-color: black;
    color: white;

    display: grid;
    // grid-template-columns: repeat(5, 1fr);
    grid-template-columns: $full-grid-column-template;
    justify-content: center;
    align-items: center;


    &__title {
        grid-column: 3 / span 2;
        font-family: $primary-font;
        font-size: 7.5rem;
        font-weight: 100;
    }

    &__description {
        grid-column: 5 / span 3;
        font-size: 1.7rem;
        padding-left: 8rem;
    }

    &__picture {
        grid-column: 8 / span 5;
        height: 100%;
        width: 100%;
        object-fit: cover;

        display: flex;
        justify-content: center
    }

    &__img {
        width: 85%;
        height: 100%;
        border-radius: 15px;

        background-image: linear-gradient(to right bottom,
                rgba($primary-color-black, 0.5),
                rgba($primary-color-black, 0.5)),
            url('../../media/imgs/cookingLesson.jpg');
        background-size: cover;
        background-position: top;
        box-shadow: 0 0 8px 8px $primary-color-black inset;
        background-color: $primary-color-black;
    }

}