@import '../../styles/variables';

.footer {
    grid-column: 1 / -1;

    height: 25vh;

    display: grid;
    grid-template-columns: $full-grid-column-template;
    grid-column-gap: $full-grid-column-gap-template;

    padding-top: 5rem;

    background-color: $primary-color-black;

    &__logo {
        grid-column: 1 / span 2;

        font-size: 3rem;
        font-family: $primary-font;
        font-weight: 100;
        letter-spacing: .4rem;

        text-align: center;
        color: white;
        cursor: pointer;
    }

    li {
        list-style: none;
        color: $primary-color-grey;
        font-size: 1.4rem;
        font-weight: 100;
        cursor: pointer;
        transition: .2s all ease-in-out;

        &:hover {
            color: white;
        }

        &:not(:last-of-type) {
            margin-bottom: 2rem;
        }

    }

    &__lists {
        grid-column: 3 / span 7;

        display: flex;
        justify-content: space-between;
    }
}