@import '../../styles/variables';

.footer {
    grid-column: 1 / -1;

    height: 25vh;

    display: grid;
    grid-template-columns: $full-grid-column-template;
    grid-column-gap: $full-grid-column-gap-template;

    padding-top: 5rem;

    background-color: $primary-color-black;

    @media only screen and (max-width: $bp-xxl) {
        padding: 5rem;
    }

    @media only screen and (max-width: $bp-xl) {
        height: 40vh;
    }

    @media only screen and (max-width: $bp-phone-1) {
        padding: 5rem 1rem;
    }

    &__logo {
        grid-column: 1 / span 2;

        font-size: 3rem;
        font-family: $primary-font;
        font-weight: 100;
        letter-spacing: .4rem;

        text-align: center;
        color: white;
        cursor: pointer;

        @media only screen and (max-width: $bp-xxl) {
            grid-column: 1 / span 1;
        }

        @media only screen and (max-width: $bp-xl) {
            grid-column: 1 / -1;
            margin-bottom: 2rem;
        }

        @media only screen and (max-width: $bp-phone-1) {
            margin-bottom: 0;
        }
    }

    li {
        list-style: none;
        color: $primary-color-grey;
        font-size: 1.4rem;
        font-weight: 100;
        cursor: pointer;
        transition: .2s all ease-in-out;

        &:hover {
            color: white;
        }

        &:not(:last-of-type) {
            margin-bottom: 2rem;

            @media only screen and (max-width: $bp-phone-1) {
                margin-bottom: 1rem;
            }
        }

    }

    &__lists {
        grid-column: 3 / span 7;

        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: $bp-xxl) {
            grid-column: 3 / span 9;
        }

        @media only screen and (max-width: $bp-xl) {
            grid-column: 1 / -1;
        }

        @media only screen and (max-width: $bp-large) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            text-align: center;
        }
    }
}