@import './styles/variables';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%; // 10px / 16px = 62.5%

    @media only screen and (max-width: $bp-phone-1) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-large) and (orientation: landscape) {
        font-size: 50%;
    }
}