@import '../../styles/variables';

.nav {
    grid-column: 2 / span 4;
    grid-row: 1 / span 1;
    align-self: center;
    min-width: 35vw;
    max-width: 35vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-xl) {
        flex-direction: column;
        align-items: initial;
    }


    &__logo {
        font-size: 3rem;
        font-family: $primary-font;
        font-weight: 100;
        letter-spacing: .4rem;

        @media only screen and (max-width:$bp-xxl) {
            margin-right: 4rem;
        }

        @media only screen and (max-width: $bp-xl) {
            margin-bottom: 2rem;
        }
    }

    &__list {
        display: flex;
        list-style: none;

        @media only screen and (max-width: $bp-xl) {
            z-index: 1;
        }
    }

    &__item {
        color: $primary-color-grey;
        font-size: 1.6rem;
        letter-spacing: .05rem;

        &:not(:last-child) {
            margin-right: 5rem;
        }
    }
}